<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- bootstrap css  -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero,
            itaque.
          </p>
        </div>
        <div class="col-6">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates,
          exercitationem.
        </div>
      </div>
    </div>
    <!-- bootstrap js -->
    <script src="./js/bootstrap.min.js"></script>

    <!-- Firebase section  -->
    <script>
      import { initializeApp } from "firebase/app";

      // Your web app's Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyC6CEiK99WrwanTDjDYzk7L9NrXG0Bk6Iw",
        authDomain: "know-plus-ffc5f.firebaseapp.com",
        projectId: "know-plus-ffc5f",
        storageBucket: "know-plus-ffc5f.appspot.com",
        messagingSenderId: "576765714779",
        appId: "1:576765714779:web:493a092fef5707b411fa7e",
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
    </script>
  </body>
</html>
