<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Collage page</title>
    <link rel="stylesheet" href="./css/collage-page.css" />
  </head>
  <body>
    <div class="wrapper">
      <section class="hero-section">
        <div class="slider-hero">
          <div class="slider-seil">Sorcary</div>
          <div class="single-slide">
            <img src="./img/img2.jpg" alt="" />
          </div>
          <p class="notic-slide">
            <marquee>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
              vitae atque autem nostrum facilis pariatur rerum dolorem eaque,
              maxime consequuntur.
            </marquee>
          </p>
        </div>
        <div class="realted-collage-area">
          <div class="search-area">
            <input type="text" />
          </div>
          <aside class="reated-continer">
            <h3>Related Collage</h3>
            <div class="single-box">
              <img src="./img/img1.jpg" alt="" />
              <div class="single-box-content">
                <h4>Collage Name</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p><span>KalighPur</span> <span>Khulna</span></p>
              </div>
            </div>
            <div class="single-box">
              <img src="./img/img1.jpg" alt="" />
              <div class="single-box-content">
                <h4>Collage Name</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p><span>KalighPur</span> <span>Khulna</span></p>
              </div>
            </div>
            <div class="single-box">
              <img src="./img/img1.jpg" alt="" />
              <div class="single-box-content">
                <h4>Collage Name</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p><span>KalighPur</span> <span>Khulna</span></p>
              </div>
            </div>
            <div class="single-box">
              <img src="./img/img1.jpg" alt="" />
              <div class="single-box-content">
                <h4>Collage Name</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p><span>KalighPur</span> <span>Khulna</span></p>
              </div>
            </div>
          </aside>
        </div>
      </section>
      <section class="collage-ditils-area">
        <div class="collage-ditils-continer">
          <div class="profassor-area">
            <div class="profassor-ditils">
              <span>CPIK PROFASSOE</span>
              <img src="" alt="" />
              <p>Lorem ipsum dolor</p>
              <p>Lorem ipsum dolor</p>
              <p>Lorem ipsum dolor</p>
            </div>
            <div class="profassor-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
              laudantium saepe perspiciatis eveniet, assumenda nesciunt adipisci
              sed animi repudiandae architecto?
            </div>
          </div>
          <div class="collage-address">
            <h3>collage Name</h3>
            <p>Locatoin 1</p>
            <p>Locatoin 2</p>
            <p>Locatoin 3</p>
          </div>
        </div>
        <div class="collage-blog">
          <h3>Cpik Blog</h3>
          <div class="collage-single-blog">
            <img src="" alt="" />
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel,
              iure.
            </p>
          </div>
        </div>
      </section>
      <section class="collage-deperment-area">
        <div class="single-deperment">
          <img src="" alt="" />
          <h3>Deperment Name</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda,
            magni?
          </p>
        </div>
      </section>
    </div>
  </body>
</html>
