<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- css link  -->
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav>
          <div class="logo">
            <p>LOGOAREA</p>
          </div>
          <div class="page_menu">
            <a>Home</a>
            <a>Project</a>
            <a>About</a>
          </div>
          <div class="account">Create <span>New</span></div>
        </nav>
        <section class="search-area">
          <div class="location">
            <span>
              <img src="./img/location.png" alt="sorry" />
            </span>
            <a>Select Location</a>
          </div>
          <div class="location">
            <span>
              <img src="./img/location4.png" alt="" />
            </span>
            <a>Select City</a>
          </div>
          <div class="search">
            <input type="text" name="" placeholder="What do You Find" />
            <img src="./img/search.png" alt="" />
          </div>
        </section>
      </header>

      <section class="hero-section">
        <div class="continer">
          <div class="slider-area">
            <div class="slide-content">
              <h2>Lorem ipsum dolor sit amet.</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio
                possimus cum expedita!
              </p>
            </div>
          </div>

          <div class="list-area">
            <label>Bord Notic</label>
            <ul>
              <li>List one</li>
              <li>List one</li>
              <li>List one</li>
              <li>List one</li>
              <li>List one</li>
              <li>List one</li>
              <li>List one</li>
            </ul>
          </div>
          <div class="slid-area1">News section</div>
        </div>
      </section>

      <section class="collage-section">
        <aside class="collage-list">
          <div class="collage-continer">
            <div class="collage-short"><img src="./img/img3.jpg" alt="" /></div>
            <div class="collage-title">
              <h3>Collage Nmaes</h3>
              <p>
                <img src="./img/sub-location.png" alt="" class="local" />
                Collage location
              </p>
            </div>
          </div>

          <div class="collage-continer">
            <div class="collage-short"><img src="./img/img3.jpg" alt="" /></div>
            <div class="collage-title">
              <h3>Collage Nmaes</h3>
              <p>
                <img src="./img/sub-location.png" alt="" class="local" />
                Collage location
              </p>
            </div>
          </div>

          <div class="collage-continer">
            <div class="collage-short"><img src="./img/img3.jpg" alt="" /></div>
            <div class="collage-title">
              <h3>Collage Nmaes</h3>
              <p>
                <img src="./img/sub-location.png" alt="" class="local" />
                Collage location
              </p>
            </div>
          </div>

          <div class="collage-continer">
            <div class="collage-short"><img src="./img/img3.jpg" alt="" /></div>
            <div class="collage-title">
              <h3>Collage Nmaes</h3>
              <p>
                <img src="./img/sub-location.png" alt="" class="local" />
                Collage location
              </p>
            </div>
          </div>

          <div class="collage-continer">
            <div class="collage-short"><img src="./img/img3.jpg" alt="" /></div>
            <div class="collage-title">
              <h3>Collage Nmaes</h3>
              <p>
                <img src="./img/sub-location.png" alt="" class="local" />
                Collage location
              </p>
            </div>
          </div>

          <div class="collage-continer">
            <div class="collage-short"><img src="./img/img3.jpg" alt="" /></div>
            <div class="collage-title">
              <h3>Collage Nmaes</h3>
              <p>
                <img src="./img/sub-location.png" alt="" class="local" />
                Collage location
              </p>
            </div>
          </div>

          <div class="collage-continer">
            <div class="collage-short"><img src="./img/img3.jpg" alt="" /></div>
            <div class="collage-title">
              <h3>Collage Nmaes</h3>
              <p>
                <img src="./img/sub-location.png" alt="" class="local" />
                Collage location
              </p>
            </div>
          </div>

          <div class="collage-continer">
            <div class="collage-short"><img src="./img/img3.jpg" alt="" /></div>
            <div class="collage-title">
              <h3>Collage Nmaes</h3>
              <p>
                <img src="./img/sub-location.png" alt="" class="local" />
                Collage location
              </p>
            </div>
          </div>

          <div class="collage-continer">
            <div class="collage-short"><img src="./img/img3.jpg" alt="" /></div>
            <div class="collage-title">
              <h3>Collage Nmaes</h3>
              <p>
                <img src="./img/sub-location.png" alt="" class="local" />
                Collage location
              </p>
            </div>
          </div>

          <div class="collage-continer">
            <div class="collage-short"><img src="./img/img3.jpg" alt="" /></div>
            <div class="collage-title">
              <h3>Collage Nmaes</h3>
              <p>
                <img src="./img/sub-location.png" alt="" class="local" />
                Collage location
              </p>
            </div>
          </div>

          <div class="collage-continer">
            <div class="collage-short"><img src="./img/img3.jpg" alt="" /></div>
            <div class="collage-title">
              <h3>Collage Nmaes</h3>
              <p>
                <img src="./img/sub-location.png" alt="" class="local" />
                Collage location
              </p>
            </div>
          </div>
        </aside>
      </section>
      <footer>&copy; This site allrady resurverd by cpik</footer>
    </div>

    <!-- java-script link  -->
    <script src="/js/main.js"></script>
  </body>
</html>
